<!doctype html>
{%- assign content = page.content %}
{%- assign posts_total = site.posts | size %}
{%- assign user = site.github.owner %}

{%- if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% else %}
  {% assign page_title = user.name %}
  {% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% endif %}

<html class="min-height-full min-width" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark_dimmed">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:image" content="{{ user.avatar_url }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  
{% if site.analytics.provider == 'google' %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.property }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.analytics.property }}');
  </script>
{%- endif %}

  <body class="min-height-full">
