<table id="repositories" class="table align-middle mb-0 bg-white col-md-12">
    <thead class="bg-blue-light">
        <tr>
        <th class="m-2 p-2">Repository Name</th>
        <th class="m-2 p-2" colspan="2" scope="colgroup">Pull Requests</th>
        <th class="m-2 p-2" colspan="2" scope="colgroup">Issues</th>
        </tr>
    </thead>
    <tbody>
        {% assign repositories = site.data.repo-info %}
        {% for repository in repositories %}
        <tr>
            <td class="m-2 p-2">
                <a href="{{ repository.html_url }}">{{ repository.name }}</a>
            </td>
            <td class="m-2 p-2 text-right">
                {% if repository.pull_requests == 0 %}
                <span class="State State--draft">None</span>
                {% else %}
                <span class="State State--open">{% octicon git-pull-request height:16 fill:"#ffffff" %} {{ repository.pull_requests }} Open</span>
                {% endif %}
            </td>
            <td class="m-2 p-2">
                <button type="button" class="btn btn-outline" data-mdb-ripple-color="dark" onclick="window.open(`{{ repository.html_url }}/pulls`, '_blank')">View</button>
            </td>
            <td class="m-2 p-2 text-right">
                {% if repository.issues == 0 %}
                <span class="State State--draft">None</span>
                {% else %}
                <span class="State State--open">{% octicon issue-opened height:16 fill:"#ffffff" %} {{ repository.issues }} Open</span>
                {% endif %}
            </td>
            <td class="m-2 p-2">
                <button type="button" class="btn btn-outline" data-mdb-ripple-color="dark" onclick="window.open(`{{ repository.html_url }}/issues`, '_blank')">View</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>