---
layout: default
---
{%- assign posts_total = site.posts | size %}
{% if site.layout == 'stacked' %}
<div class="container-lg py-3">
  {% include nav.html breadcrumbs=false %}
  <div class="p-responsive text-center">
    {% include masthead.html metadata=true %}

    <div>
      {{ content }}
    </div>

    <div class="my-6">
      {% include projects.html %}
    </div>

    {% if site.topics %}
    <div class="my-6">
      {% include interests.html %}
    </div>
    {% endif %}

    {% unless posts_total == 0 %}
    <div class="my-6">
      {% include thoughts.html %}
    </div>
    {% endunless %}
  </div>
</div>
{% else %}
<div>
  {% include nav.html breadcrumbs=false %}
  {% unless content == "" %}
  <div class="f4 mb-6">
    {{ content }}
  </div>
  {% endunless %}

  {% include projects.html %}

  {% if site.topics %}
    {% include interests.html %}
  {% endif %}

  {% unless posts_total == 0 %}
    {% include thoughts.html %}
  {% endunless %}
</div>
{% endif %}
