---
layout: default
---

{% if site.layout == 'stacked' %}
    <div class="container-md f4 text-left mt-3">
      <p class="f5"><a href="/" class="d-flex flex-items-center">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:#0366d6 aria-label:Home %}Home</a></p>
      <h1 class="f00-light lh-condensed mb-5">{{ page.title }}</h1>
      {{ content }}
    </div>
{% else %}
    <div class="col-md-7 col-lg-8 col-xl-9 px-4 px-lg-7 border-md-top-0">
      <div class="mr-auto max-content">
        <div class="f4 mb-6">
          <div class="f4">
            <p class="f5"><a href="{{ site.url }}{{ site.baseurl | append:'/' }}" class="d-flex flex-items-center">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" aria-label:Home %}Home</a></p>
            <h1 class="f00-light lh-condensed mb-5">{{ page.title }}</h1>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
{% endif %}
