name: Update Gem Bundle

on:
  workflow_dispatch:  # Allows manual trigger

jobs:
  update-bundle:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Remove lock
        run: |
          rm Gemfile.lock

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1

      - name: Update gems
        run: |
          bundle update
          bundle install

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: update-gems
          commit-message: "Update gem dependencies"
          title: "Update gem dependencies"
          body: "This PR updates the gem dependencies to the latest versions."
          labels: dependencies